In [1]:
import pandas as pd

In [2]:
%time pd.read_csv("/Users/joday/datasets/2018_Yellow_Taxi_Trip_Data.csv")

CPU times: user 1min 53s, sys: 51.5 s, total: 2min 45s
Wall time: 2min 54s

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,11/04/2084 12:32:24 PM,11/04/2084 12:47:41 PM,1,1.34,1,N,238,236,2,10.0,0.0,0.5,0.00,0.00,0.3,10.80
1,2,11/04/2084 12:32:24 PM,11/04/2084 12:47:41 PM,1,1.34,1,N,238,236,2,10.0,0.0,0.5,0.00,0.00,0.3,10.80
2,2,11/04/2084 12:25:53 PM,11/04/2084 12:29:00 PM,1,0.32,1,N,238,238,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
3,2,11/04/2084 12:25:53 PM,11/04/2084 12:29:00 PM,1,0.32,1,N,238,238,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
4,2,11/04/2084 12:08:33 PM,11/04/2084 12:22:24 PM,1,1.85,1,N,236,238,2,10.0,0.0,0.5,0.00,0.00,0.3,10.80
5,2,11/04/2084 12:08:33 PM,11/04/2084 12:22:24 PM,1,1.85,1,N,236,238,2,10.0,0.0,0.5,0.00,0.00,0.3,10.80
6,2,11/04/2084 11:41:35 AM,11/04/2084 11:59:41 AM,1,1.65,1,N,68,237,2,12.5,0.0,0.5,0.00,0.00,0.3,13.30
7,2,11/04/2084 11:41:35 AM,11/04/2084 11:59:41 AM,1,1.65,1,N,68,237,2,12.5,0.0,0.5,0.00,0.00,0.3,13.30
8,2,11/04/2084 11:27:28 AM,11/04/2084 11:39:52 AM,1,1.07,1,N,170,68,2,9.0,0.0,0.5,0.00,0.00,0.3,9.80
9,2,11/04/2084 11:27:28 AM,11/04/2084 11:39:52 AM,1,1.07,1,N,170,68,2,9.0,0.0,0.5,0.00,0.00,0.3,9.80
10,2,11/04/2084 11:19:06 AM,11/04/2084 11:26:44 AM,1,1.30,1,N,107,170,2,7.5,0.0,0.5,0.00,0.00,0.3,8.30
11,2,11/04/2084 11:19:06 AM,11/04/2084 11:26:44 AM,1,1.30,1,N,107,170,2,7.5,0.0,0.5,0.00,0.00,0.3,8.30
12,2,11/04/2084 11:02:59 AM,11/04/2084 11:15:51 AM,1,1.85,1,N,113,137,2,10.0,0.0,0.5,0.00,0.00,0.3,10.80
13,2,11/04/2084 11:02:59 AM,11/04/2084 11:15:51 AM,1,1.85,1,N,113,137,2,10.0,0.0,0.5,0.00,0.00,0.3,10.80
14,2,11/04/2084 10:46:05 AM,11/04/2084 10:50:09 AM,1,0.62,1,N,231,231,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30
15,2,11/04/2084 10:46:05 AM,11/04/2084 10:50:09 AM,1,0.62,1,N,231,231,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30
16,2,07/11/2053 01:25:33 PM,07/11/2053 01:25:33 PM,1,0.00,1,N,264,264,2,0.0,0.0,0.0,0.00,0.00,0.0,0.00
17,2,12/04/2042 08:51:43 AM,12/04/2042 08:54:47 AM,1,0.29,1,N,162,162,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
18,2,12/04/2042 08:51:43 AM,12/04/2042 08:54:47 AM,1,0.29,1,N,162,162,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
19,2,06/25/2041 08:46:37 PM,06/25/2041 08:52:37 PM,1,1.34,1,N,239,151,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
20,2,11/17/2037 09:24:28 PM,11/17/2037 09:46:03 PM,1,2.99,1,N,170,143,1,15.0,0.5,0.5,1.70,0.00,0.3,18.00
21,2,11/17/2037 09:24:28 PM,11/17/2037 09:46:03 PM,1,2.99,1,N,170,143,1,15.0,0.5,0.5,1.70,0.00,0.3,18.00
22,2,02/02/2032 12:39:23 AM,02/02/2032 01:11:39 AM,4,23.21,1,N,132,228,2,62.0,0.5,0.5,0.00,0.00,0.3,63.30
23,2,02/13/2031 05:36:35 PM,02/13/2031 05:45:36 PM,1,1.44,1,N,236,237,2,8.0,1.0,0.5,0.00,0.00,0.3,9.80
24,2,02/13/2031 05:21:28 PM,02/13/2031 05:35:36 PM,1,1.69,1,N,141,236,2,8.0,1.0,0.5,0.00,0.00,0.3,9.80
25,2,05/06/2029 08:43:14 PM,05/06/2029 09:03:14 PM,4,4.47,1,N,162,80,1,17.5,0.5,0.5,4.91,5.76,0.3,29.47
26,2,05/05/2029 11:22:18 PM,05/06/2029 02:02:00 AM,1,11.51,1,N,148,244,1,34.5,0.5,0.5,0.00,0.00,0.3,35.80
27,2,02/13/2026 11:53:54 AM,02/13/2026 11:58:02 AM,2,0.85,1,N,161,43,2,5.0,1.0,0.5,0.00,0.00,0.3,6.80
28,2,02/13/2026 11:06:18 AM,02/13/2026 06:26:09 PM,2,3.14,1,N,163,246,2,20.0,1.0,0.5,0.00,0.00,0.3,21.80
29,2,09/13/2021 12:19:52 PM,09/13/2021 12:22:07 PM,1,0.00,1,N,193,193,2,0.0,0.0,0.0,0.00,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112234596,2,12/31/2002 11:10:06 PM,12/31/2002 11:37:31 PM,1,9.73,1,N,181,161,2,30.5,0.0,0.5,0.00,0.00,0.3,31.30
112234597,2,12/31/2002 11:10:06 PM,12/31/2002 11:37:31 PM,1,9.73,1,N,181,161,2,30.5,0.0,0.5,0.00,0.00,0.3,31.30
112234598,2,12/31/2002 11:05:15 PM,01/01/2003 08:36:35 PM,1,0.00,1,N,193,193,1,2.5,0.5,0.5,0.00,0.00,0.3,3.80
112234599,2,12/31/2002 11:05:02 PM,01/01/2003 06:44:42 PM,1,0.00,1,N,264,264,1,0.0,0.0,0.0,0.00,0.00,0.0,0.00
112234600,2,12/31/2002 11:04:50 PM,01/01/2003 06:42:58 AM,2,3.10,1,N,7,162,2,13.0,0.0,0.5,0.00,0.00,0.3,13.80
112234601,2,12/31/2002 11:03:13 PM,01/01/2003 06:36:55 AM,1,0.41,1,N,48,68,2,3.5,0.0,0.5,0.00,0.00,0.3,4.30
112234602,2,12/31/2002 11:03:12 PM,01/01/2003 05:02:04 PM,1,19.22,2,N,132,239,1,52.0,4.5,0.5,12.61,5.76,0.3,75.67
112234603,2,12/31/2002 11:03:12 PM,01/01/2003 05:02:04 PM,1,19.22,2,N,132,239,1,52.0,4.5,0.5,12.61,5.76,0.3,75.67
112234604,2,12/31/2002 11:02:29 PM,01/01/2003 10:52:09 PM,4,1.97,1,N,79,162,2,9.0,0.5,0.5,0.00,0.00,0.3,10.30
112234605,2,12/31/2002 11:01:55 PM,01/01/2003 02:59:11 PM,5,0.89,1,N,264,264,1,5.5,0.0,0.5,1.26,0.00,0.3,7.56
112234606,2,12/31/2002 10:34:35 PM,12/31/2002 11:03:19 PM,1,0.00,1,N,193,193,2,2.5,0.0,0.5,0.00,0.00,0.3,3.30
112234607,2,12/31/2002 10:34:10 PM,12/31/2002 11:02:25 PM,2,7.26,1,N,13,234,2,27.0,0.0,0.5,0.00,0.00,0.3,27.80
112234608,2,12/31/2002 10:34:10 PM,12/31/2002 11:02:25 PM,2,7.26,1,N,13,234,2,27.0,0.0,0.5,0.00,0.00,0.3,27.80
112234609,2,12/31/2002 10:30:31 PM,12/31/2002 11:03:31 PM,1,0.00,1,N,7,193,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80
112234610,2,12/31/2002 09:38:11 PM,12/31/2002 09:48:36 PM,3,1.33,1,N,114,231,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
112234611,2,12/31/2002 09:38:11 PM,12/31/2002 09:48:36 PM,3,1.33,1,N,114,231,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
112234612,2,01/06/2001 06:03:30 AM,01/06/2001 02:08:58 PM,1,0.00,1,N,193,193,2,2.5,0.0,0.5,0.00,0.00,0.3,3.30
112234613,2,01/05/2001 11:45:23 AM,01/05/2001 11:52:05 AM,5,1.53,1,N,71,89,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
112234614,2,01/01/2001 10:55:43 PM,01/02/2001 12:05:43 AM,1,4.67,1,N,234,162,2,31.5,0.0,0.5,0.00,0.00,0.3,32.30
112234615,2,01/01/2001 10:55:43 PM,01/02/2001 12:05:43 AM,1,4.67,1,N,234,162,2,31.5,0.0,0.5,0.00,0.00,0.3,32.30
112234616,2,01/01/2001 12:13:42 AM,01/01/2001 12:22:17 AM,1,0.80,1,N,170,161,2,5.5,0.0,0.5,0.00,0.00,0.3,6.30
112234617,2,01/01/2001 12:13:42 AM,01/01/2001 12:22:17 AM,1,0.80,1,N,170,161,2,5.5,0.0,0.5,0.00,0.00,0.3,6.30
112234618,2,01/01/2001 12:07:04 AM,01/01/2001 12:07:30 AM,1,0.11,1,N,48,163,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80
112234619,2,01/01/2001 12:06:42 AM,01/01/2001 04:53:11 PM,1,0.92,1,N,141,236,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80
112234620,2,01/01/2001 12:05:12 AM,01/01/2001 12:09:59 AM,1,0.62,1,N,140,229,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80
112234621,2,01/01/2001 12:05:12 AM,01/01/2001 12:09:59 AM,1,0.62,1,N,140,229,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80
112234622,2,01/01/2001 12:02:26 AM,01/01/2001 12:04:49 AM,1,0.36,1,N,48,48,2,3.5,0.0,0.5,0.00,0.00,0.3,4.30
112234623,2,01/01/2001 12:02:26 AM,01/01/2001 12:04:49 AM,1,0.36,1,N,48,48,2,3.5,0.0,0.5,0.00,0.00,0.3,4.30
112234624,2,01/01/2001 12:01:48 AM,01/01/2001 12:15:47 AM,1,1.35,1,N,43,170,2,9.0,0.0,0.5,0.00,0.00,0.3,9.80
112234625,2,01/01/2001 12:01:48 AM,01/01/2001 12:15:47 AM,1,1.35,1,N,43,170,2,9.0,0.0,0.5,0.00,0.00,0.3,9.80