# Add procs, load packages

In [1]:
addprocs(4)
using JuliaDB, OnlineStats

# Identify the CSVs to load

In [2]:
files = glob("*.csv", "/Users/joshday/datasets/taxi/")

12-element Array{String,1}:
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-01.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-02.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-03.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-04.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-05.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-06.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-07.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-08.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-09.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-10.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-11.csv"
 "/Users/joshday/datasets/taxi/yellow_tripdata_2017-12.csv"

# Load dataset larger than memory (under 3 minutes)

In [3]:
@time t = loadtable(files, output="bin", chunks = length(files), filenamecol = :YearMonth)

Distributed Table with 113496874 rows in 12 chunks:
Columns:
#   colname                type
───────────────────────────────────
1   YearMonth              String
2   VendorID               Int64
3   tpep_pickup_datetime   DateTime
4   tpep_dropoff_datetime  DateTime
5   passenger_count        Int64
6   trip_distance          Float64
7   RatecodeID             Int64
8   store_and_fwd_flag     String
9   PULocationID           Int64
10  DOLocationID           Int64
11  payment_type           Int64
12  fare_amount            Float64
13  extra                  Float64
14  mta_tax                Float64
15  tip_amount             Float64
16  tolls_amount           Float64
17  improvement_surcharge  Float64
18  total_amount           Float64

152.603136 seconds (3.32 M allocations: 182.853 MiB, 0.25% gc time)

# Restart Julia, Load Table from Binary

In [1]:
addprocs(4)
using JuliaDB, OnlineStats

@time t = load("bin")

Distributed Table with 113496874 rows in 12 chunks:
Columns:
#   colname                type
───────────────────────────────────
1   YearMonth              String
2   VendorID               Int64
3   tpep_pickup_datetime   DateTime
4   tpep_dropoff_datetime  DateTime
5   passenger_count        Int64
6   trip_distance          Float64
7   RatecodeID             Int64
8   store_and_fwd_flag     String
9   PULocationID           Int64
10  DOLocationID           Int64
11  payment_type           Int64
12  fare_amount            Float64
13  extra                  Float64
14  mta_tax                Float64
15  tip_amount             Float64
16  tolls_amount           Float64
17  improvement_surcharge  Float64
18  total_amount           Float64

  0.320673 seconds (130.31 k allocations: 6.894 MiB)

# Calculate the Average Fare, Grouped by Passenger Count

In [2]:
@time groupreduce(Mean(), t, :passenger_count; select = :fare_amount)

 42.047238 seconds (1.78 M allocations: 96.567 MiB)

Distributed Table with 11 rows in 1 chunks:
passenger_count  Mean
─────────────────────────────────────────────────
0                Mean: n=166086 | value=13.3626
1                Mean: n=81034106 | value=12.8784
2                Mean: n=16545529 | value=13.657
3                Mean: n=4748847 | value=13.5801
4                Mean: n=2257808 | value=13.7136
5                Mean: n=5407303 | value=13.012
6                Mean: n=3336197 | value=12.9714
7                Mean: n=360 | value=43.7429
8                Mean: n=339 | value=45.4509
9                Mean: n=298 | value=55.4761
192              Mean: n=1 | value=6.5